name: Node.js CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2-beta
        with:
          node-version: 12.x
      - uses: NiceLabs/automatic-github-token@v2
        with:
          registry: true
      - run: npm ci
      - run: ./scripts/publish-to-github.sh
